@use 'variables'  as v;

html{
    font-size: 62.5%;
    box-sizing: border-box;
}

*,
*:before,
*:after{
    box-sizing: inherit;
}

body{
   font-family: v.$fuente_principal; // variables.$fuente_principal
//   background-image: linear-gradient(to bottom, #89b2f0, #7cb8f1, #70bdf0, #67c2ed, #62c6e9);
    font-size: 1.6rem;
    color: #EAECEF;
    background-color: #0B0E11;
    
}

p{
    font-size:2rem;
    //color:v.$negro;
}

.contenedor{
    width: 95%;
    max-width: 120rem; //1200px
    margin: 0 auto;
}
a{
    text-decoration: none;
}

h1,h2,h3{
    margin: 0 0 2rem 0;
}

h1{
    font-size: 4rem;
}

h2{
    font-size: 3.3rem;
}
h3{
    font-size: 3rem;
}

img{
    max-width: 100%;
    display: block;
    width: 100%;
    height: auto;
}