@use 'base/mixins' as m;

body{
   
}
.header{
  display:flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: .5rem;
  background-color: #181A20;
  margin-bottom: 1.3rem;
  
  text-transform: uppercase;
  @include m.desktop{
    flex-direction: row;
  }
  
  h1{
    font-size: 4rem;
    margin: .2rem;
    margin-bottom: 1.5rem;
  }
}

.listaHeader{
  display: flex;
  flex-direction: column;
  text-align: center;
 
  ul{
    margin: 0;
    margin-bottom: 1rem;
    
    padding: 0;
    list-style: none;
    font-weight: 700;
    margin-right: 1rem;
    

  }

  @include m.desktop{
    flex-direction: row;
   
  }
}
.criptomonedas-lista{
  
  display: grid;
   
/* Cambia los valores para experimentar👇 */
  
    gap: 2rem;
    @include m.tablet {
        @include m.grid(2,1rem);
        
    }
    @include m.desktop {
        @include m.grid(5,1rem);
      
        
    }


}
.tarjetaCripto{
    background: #181A20;
 box-shadow: 5px   rgba(#FF7E0D, 1);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  
  h2{
    
    text-transform: uppercase;
    text-align: center;
  }

  p{
    margin: 1rem;
  }
  

  @include m.desktop {
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    
    
  }
 
}

.criptocsvForma{
    
        width: 100px;
        height: 100px;
        -moz-border-radius: 50%;
        -webkit-border-radius: 50%;
        border-radius: 50%;
       
  
}