@use 'base/mixins' as m;

body{
   
}
.main{
    display: grid;
    gap: 2rem;
    @include m.tablet {
        @include m.grid(2,1rem);
        
    }
    @include m.desktop {
        @include m.grid(5,1rem);
        
    }

}
.tarjetaCripto{
    background: #F5F5F5;
  box-shadow: 5px 5px 5px rgba(#BA7E7E, .5);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  

  

  @include m.desktop {
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    
  }
 
}

.criptocsvForma{
    
        width: 100px;
        height: 100px;
        -moz-border-radius: 50%;
        -webkit-border-radius: 50%;
        border-radius: 50%;
       
  
}